{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div style="max-width: 400px; margin: auto">
    <h1 class="mt-4">Registrar</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Senha'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn btn-lg btn-primary mt-4">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
